body{
    --hue: var(--hue-neutral);
    background-color: chocolate;
    padding: 0%;
    margin: 0%;
    width: 100vw;
    height: 100vw;
    
}

body.correct {
    background-color: green;
}
body.wrong {
    background-color: red;
} 

body.neutral {
    background-color: chocolate;
}

.btn {
    background-color:goldenrod;
    opacity: 85%;
    border: 1px goldenrod, 100%, 50%;
    border-radius: 10px;
    font-family: 'Permanent Marker', cursive;
    height: 40px;
    width: auto;
    display: grid;
    grid-template-columns: repeat(2,auto);
    gap: 10px;
    margin: 20px;
    width: 20%;
}


.question-container {
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    margin-top: 5%;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 10%;
    background-color: cornsilk;
    border-radius: 20px;
    padding: 10px;
    width: 45%;
   
}
.start-btn-btn:hover {
    background-color: chartreuse;
    opacity: 70%;
}

.start-btn-btn {
    background-color:goldenrod;
    border: 1px goldenrod, 100%, 50%;
    border-radius: 10px;
    font-weight: bolder;
    height: 40px;
    width: 80px;
}

.next-btn-btn:hover {
    background-color: chartreuse;
    opacity: 70%;
}
.next-btn-btn {
    background-color:goldenrod;
    border: 1px goldenrod, 100%, 50%;
    border-radius: 10px;
    font-weight: bolder;
    height: 40px;
    width: 80px;

}

.container {
    width: 800px;
   max-width: 80%;
   background-color: whitesmoke;
   border-radius: 10px;
   padding: 10px;
   box-shadow:0 0 10px 2px; 
   margin-left: 20%;
   background-color: teal;
}

.btn:hover {
    background-color: chartreuse;
    opacity: 70%;
}

.btn.correct {
background-color: green;
color: yellow;
}

.btn.wrong {
    background-color: red;
    color: black;

}

.controls {
    display:flex;
    justify-content: center;
    align-content: center;
    height: 300px;
}












/**, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Permanent Marker', cursive;
}

:root {
    --hue-neutral: 200;
    --hue--wrong: 0;
    --hue--correct: 145;
}

body {
   background-color: blue;
   opacity: 100%;
    padding: 0%;
    margin: 0%;
    ****display: flex;*** was commented out
    width: 100vw;
    height: 100vw;
    justify-content: center;
    align-items: center;
    ***background-color: hsl(var(--hue), 100%, 20%);*** commented it out.
}

body.correct {
    --hue: var(--hue--correct);
}

body.wrong {
    --hue: var(--hue--wrong)
}

.container {
    width: 800px;
    max-width: 80%;
    background-color: white;
    border-radius: 10%;
    padding: 10px;
    
}

.btn-grid{
    display: grid;
    grid-template-columns: repeat(2,auto);
    gap: 10px;
    margin: 20px;
}